:root {
    --header-backcolour: #13293d;
    --main-background:#13293d;
    --header-fontcolor: #fff;
    --high-scores-background: #13293d;
}

* {
    box-sizing: border-box;
  }
  
  html {
    /* Set 1rem to 10px instead of native 16px to make it easier to calculate font-size values for the rest of the page (e.g. 1.6rem is 16px, 2.0rem is 20px, etc.) */
    font-size: 62.5%;
  }

  body {
    display:flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial;
    margin: 0;
    min-height: 100%;
  }
  
  header {
    display:flex;
    flex-direction: column;
    width:35rem;
    justify-content:space-evenly;
    align-items: center;
    text-align: center;
    padding-top: 1rem;
    background: var(--header-backcolour);
    color: var(--header-fontcolor);
    border-bottom:3rem #879274;
    border-radius: 0.8rem;
    margin:0.5rem;
  }
  
  main {
    display: flex;
    flex-direction: column;
    width:35rem;
    justify-content: space-around;
    align-items: center;
    background-color: var(--main-background);
    border-radius: 0.8rem;
    margin:0.5rem;
  }

  p {
      margin-bottom: 0.5rem;
  }

  hr {
      color:black;
  }

  h1 {
    font-size: 3.5em;
    padding:0.25rem;
  }

  h2 {
    font-size: 3.0em;
    padding:0.2rem;
  }

  h3 {
    font-size: 2.5em;
    padding:0.15rem;
  }

  .card {
    width: 33rem;
    /* justify-content: center;
    align-items: center; */
    padding: 0.8rem;
    margin: 1rem;
    background-color: white;
    border-radius: 0.8rem;
  }

  .button {
    display:inline-block;
    background: radial-gradient(circle, rgba(240,230,140,1) 0%, rgba(187,96,33,0.9542191876750701) 100%);
    border-radius: 0.8rem;
    color: #13293d;
    cursor: pointer;
    font-size: 2rem;
    letter-spacing: .021rem;
    line-height: 1.6rem;
    padding: 2rem 5rem;
    transition-duration: 0.15s;
    transition-property: background-color;
    transition-timing-function: linear;
    margin-top: 0.6rem;
  }

  .timer-card {
    height: 12rem;
    padding: 1rem;
    background: #13293d;
    color: #fff;
    border-radius: 0.8rem;
    text-align: center;
  }
  
  .list-card {
    height: 24rem;
    font-size: 2.1rem;  
    background: radial-gradient(circle, rgba(240,230,140,1) 0%, rgba(187,124,33,0.604079131652661) 100%);
    border: 1px solid #eceff1;
    border-radius: 0.8rem;
    box-shadow: rgba(60, 64, 67, 2) 0 1px 2px 0,
      rgba(60, 64, 67, 0.15) 0 2px 4px 3px;
    margin: auto;
    padding: 1.5rem;
  }

  .list-card li {
    font-size: 2rem;
    font-weight: bold;
    padding:0.1rem;
    margin-bottom: 0.5rem;
  }

  .list-card button {
    text-align: left;
    min-width: 10rem;
    border-radius: 0.5rem;
  }

  .input-button {
    text-align: center;
  }

  .input-box {
    margin: 1rem auto;
    padding: 0.2rem;
    width: 10rem;
  }
  
  /* using a mobile-first approach, use `min-width` values going from narrow -> wide for a responsive design */
@media screen and (min-width: 768px) {



}

/* media query for larger screens */
@media screen and (min-width: 992px) {



}